<div class="content__title">
  登録した生地一覧
</div>

<div class="content">
  <% @items.each do |item| %> 
    <table border="1", >
      <tr>
        <th width="30%">メーカー</th><th width="31%">商品名</th><th width="13%">width寸法</th><th width="13%">height寸法</th><th width="13%">厚み</th>
      </tr>
      <tr>
        <td>
        <div class="content__itemproductioncompany">
          <%= item.itemproductioncompany %>
        
        </div>
        </td>
        <td>
        <div class="content__itemname">
          <%= link_to item.itemname, item_path(item.id), class: "content__itemname__link" %>
        </div>
        </td>
        <td>
        <div class="content__width">
          <%= item.width %>
        </div>
        </td>
        <td>
        <div class="content__height">
          <%= item.height %> 
        </div>
        </td>
        <td>
        <div class="content__thickness">
          <%= item.thickness %>
        </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>