<div class="show__top">
  シート情報
</div>
<% if user_signed_in? && current_user.id == @item.user_id %>
<div class="show__link">
  <%= link_to "シート情報の編集", edit_item_path(@item.id), class: "show__link__edit" %>
  <%= link_to "シート情報の削除", item_path(@item.id), method: :delete, class: "show__link__destroy" %>
</div>
<% end %>

<div class="show__content">
  <table border="1" >
    <tr>
      <th width="31%">商品名</th><th width="13%">width寸法</th><th width="13%">height寸法</th><th width="13%">厚み</th><th width="30%">メーカー</th>
    </tr>
    <tr>
      <td>
        <div class="itemItemname">
          <%= @item.itemname %>
        </div>
      </td>
      <td>
        <div class="itemWidth">
          <%= @item.width %>
        </div>
      </td>
      <td>
        <div class="itemHeight">
          <%= @item.height %>
        </div>
      </td>
      <td>
        <div class="itemThickness">
          <%= @item.thickness%>
        </div>
      </td>
      <td>
        <div class="itemItemproductioncompany">
          <%= @item.itemproductioncompany %>
        </div>
      </td>
    </td>
  </table>
</div>

<div class="culuculation">
  <div class="culuculation__text1">
    ■使用する生地のW寸法を入力して下さい   :
      <%# <input type="text" id="id01" class="id-01__input"><br/>   ⬅︎参考にしたBMIのコード %>

    <div class="culuculation__width" >
      <%= @item.width %> mm
    </div>
  </div>

  <div class="culuculation__text2">
  ■使用する生地のH寸法を入力して下さい    :
      <%# <input type="text" id="id02" class="id-02__input"><br/>   ⬅︎参考にしたBMIのコード %>

    <div class="culuculation__height">
      <%= @item.height %> mm
    </div>
  </div>

  <div class="id-01">
  ■取りたいサイズのW寸法を入力して下さい  :  
    <div>
    <input type="text" id="id01" class="id-01__input" placeholder="単位はmmで入力して下さい">
    </div>
  </div>
  <div class="id-02">
  ■取りたいサイズのH寸法を入力して下さい  :
    <div>
    <input type="text" id="id02" class="id-02__input" placeholder="単位はmmで入力して下さい">
    </div>
  </div>


  <div class="cut-value">
  <input type="button" value="計算する" class="cut-value" onclick="calcCut();">
  </div>

  <div class="empty">
  </div>
</div>