<div class="itemItemproductioncompany">
  <%= @item.itemproductioncompany %>
</div>
<div class="itemItemname">
  <%= @item.itemname %>
</div>
<div class="itemWidth">
  <%= @item.width %>
</div>
<div class="itemHeight">
  <%= @item.height %>
</div>
<div class="itemThickness">
  <%= @item.thickness%>
</div>





<%# <div class="create"> %>
  <%# <%= form_with model: @item, class: :createitem, local: true do |form| %> %>
      <%# <%= form.submit 'トップページに戻る', root_path,class: :createitem_form__btn %> %>
  <%# <% end %> %>
<%# </div> %>