<!DOCTYPE html>
<html>
  <head>
    <title>MaterialCalculation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "材料の「取り」アプリ", '#', class: "header__title__text" %>
      </div>
      <div class="header__right">
        <%= link_to "シート登録", '#', class: "header__right__register"%>
      </div>
    </header>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
